



.signInWrapper{
    min-height: 75vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .containerWrapperIn{
        width: 90rem;
      
    }
}

.custom-button {
    background-color: #f3712b;
    color: white;
  
    &:hover,
    &.ant-btn:hover {
      background-color: #e06726;
    }
  }


  @media screen and (min-width: 1024px) {
    .containerWrapperIn{
      scale: 1.2;
    
  }
  }